@use "../../styles/breakpoints" as bp;

.main-menu {
	pointer-events: auto;
}

.main-menu li {
	list-style-type: none;
	display: inline-block;
}

.main-menu li > * {
	color: var(--gray-color);
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	font-size: 0.925em;
	letter-spacing: 0.21em;
	position: relative;
}

.main-menu li > *::before,
.main-menu li > *::after {
	content: "";
	display: inline-block;
	height: 2px;
	background-color: var(--purple-color);
	width: 12px;
	vertical-align: middle;
	top: -1px;
	left: -1.5px;
	position: relative;
	border-radius: 10em;
	margin: 0 7.25px;
	visibility: hidden;
}

.main-menu li.active > *,
.main-menu li:hover > * {
	color: var(--white-color);
}

.main-menu li.active > *::before,
.main-menu li:hover > *::before,
.main-menu li.active > *::after,
.main-menu li:hover > *::after {
	visibility: visible;
}

@media (max-width: #{bp.$mobile-nav}) {
	.main-menu {
		display: none;
	}

	.main-menu.active {
		display: block;
		position: absolute;
		top: 30px;
		left: 0;
		width: 100%;
		background-color: rgb(55, 25, 77);
		padding: 20px 0;
		text-align: center;
		z-index: 5;
	}

	.main-menu.active li {
		display: block;
		margin: 15px 0;
	}
}
