.header-content__slide {
	position: absolute;
}

.header-content__slide p {
	max-width: 560px;
	font-weight: 500;
	line-height: 1.4;
	display: inline-block;
}

.header-content__info {
	top: -18em;
	position: relative;
	opacity: 0;
	transition:
		opacity 1s ease,
		top 1.25s ease;
}

.header-content__slide.active .header-content__info {
	opacity: 1;
	top: 0;
}

.header-content__slide:has(* + .active .header-content__info),
.header-content__slide.active + * .active .header-content__info {
	top: 18em;
}
