:root {
	--white-color: rgb(255, 255, 255);
	--gray-color: rgb(186, 195, 202);
	--purple-color: rgb(206, 147, 255);
	--index: calc(1vw + 1vh);
	--transition: ease-in-out;

	--grid-width: 1140px;
	--grid-gutter: 0.5em;
}
